.container1{
    display: flex;
}
.title{
    width: 100px;
    color: #DA498D;
}
.search-bar{
    display: flex;
    width: 500px;
    border-radius: 20px;
    margin-left: 700px;
}
body{
    font-family: "PT Sans", serif;
    font-weight: 400;
    font-style: normal;
}
.sign-in-btn{
    background-color: #FAC67A;
}
.sign-in-btn:hover{
    background-color: #DA498D;
    color: white;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
}
.nav-link{
    color: #ffffff;
}
.nav-link:hover{
    color: #FAC67A;
}
h1{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: bolder;
}
.shop-btn{
    background-color: #DA498D;
    color: white;
}
.shop-btn:hover{
    background-color: #FAC67A;
    cursor: pointer;
    color: black;
    border: 1px solid black;
}
header{
    background-color: black;
}
.img2{
    width: 10%;
}
